body{
    margin:1.5em;
    font-family: Poppins,sans-serif;
}

a,li{
    text-decoration: none;
    list-style-type: none;
}


.hero-img{
    background: url("https://assets.codepen.io/2621168/shoe.jpg");
    width:100%;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    animation-name: intro_load;
    animation-duration: 1s;
}

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.site-logo{
    color:white;
    margin:0;
    padding:0;
    align-self: center;
    cursor: pointer;
}

.hero{
    color:white;
    height: 90vh;
}

.title{
    font-size:50px;
    margin-top: 23%;
}

.desc{
    font-size:25px;
    margin-top: 10%;
}

.menu{
    width:30px;
}

.title-content{
    font-size: 1.25rem;
    font-weight: bold;
}

.desc-content{
    line-height: 1.5rem;
}


.down-arrow{
    width:15px;
    bottom:100px;
    position:absolute;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes example {
    from {bottom: 100px;}
    to {bottom: 135px;}
  }

@keyframes example_2 {
from {bottom:-12px;}
to {bottom:10px;}
}

@keyframes intro_load {
from {clip-path:polygon(0 0,100% 0,100% 0, 0 0);}
to {clip-path:polygon(0 0,100% 0,100% 100%, 0 100%);}
}

.features > img{
    width:100%;
    height: 11em;
    object-fit: cover;
}


.navigate{
    position: fixed;
    right:0;
    background-color: white;
    top:0;
    bottom: 0;
    width:100px;
    padding: 50px;
    z-index:9999;
    transform:translateX(100%);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    text-transform: uppercase;

}

.navigate > ul > li , a{
    margin-top: 30px;
    margin-bottom: 30px;
    color:black;
    font-size: 20px;
    
}
.close{
    width:30px;
    position: absolute;
    right:10px;
    top:10px;
}

.open-nav{
    transform:translateX(0%);
}

@media only screen and (min-width:680px) {
    body{
        margin: 1.5em 5em;
    }
}

@media only screen and (min-width:900px) {
    .menu{
        display: none;
    }
    .close{
        display: none;
    }
    .navigate{
        transform: translate(0%);
        position: unset;
        width: auto;
        height: auto;
        background: none;
        display: block;
        padding: 0;
        margin: 0;
    }

    .navigate > ul{
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin:0;
        padding: 0;
        justify-content: space-between;
    }
    .navigate > ul > li{
        margin-left:5em;
        
    }
    .navigate > ul > li:hover{
        text-decoration: underline;
    }
    .navigate > ul > li > a{
        color:white;
        font-size: 15px;
    }

    .hero-img{
        left:unset;
        right:0;
        width:50%;
        height: 42em;
    }

    section.hero{
        color:black;
        width:40%;
        margin-bottom: 0;
        height: 80vh;
    }

    .down-arrow > path{
        fill:black;
    }

    .down-arrow{
    stroke: black;
    position:absolute;
    animation-name: example_2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    }

    .site-logo{
        color:black;
        font-size: 20px;
    }

    .site-logo > span{
        color:red;   
    }

    .features{
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap:3em;
        margin-bottom: 8em;
    }

    .features > img{
        width:25em;
    }

    .content{
        text-align: right;
        width: 25em;
    }

    .features.left{
    grid-template-areas: "left right";
    gap:3em;
    margin-bottom: 8em;
    }

    .features.left > img{
        grid-area: left;
        width: 25em;
    }

    .features.left > .content{
        text-align: left;
        width: 25rem;
        justify-self: left;
    }

    .more-info{
        display: inline;
    }

}


@media only screen and (min-width:1200px){

    .container{
        width: 1200px;
        margin:0 auto;
    }

    .features{
        gap:0;
    }

}
